<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome!</h1>
    <h2 style="text-align: center;">Do you want to know seconds, Hours, Days, Months, years you spend in the world</h2>
    <div style="text-align: center;">Click on the link below to start</div>
    <div style="text-align: center;"><a href="start" style="font-style: normal;">CLICK HERE</a></div>
</body>
</html>









































