<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body color = "baba">
    <dir>Current Date: {{date}}</dir>
    <div>Seconds spend: {{sec}}s</div>
    <div>Hours spend: {{hour}} hrs</div>
    <div>minutes spend: {{minute}} minutes</div>
    <div>Days spend: {{day}} days</div>
    <div>weeks spend: {{week}} week</div>
    <div>Months spend: {{month}} months</div>
    <div>You're {{years}} years old.</div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5eee911b3d5439e6"></script>

</body>
</html>